/* ------------- */
@import url("reset.css");


body {
    background-color: #0D0D11;
    font-family:"Poppins";
    font-weight: 300;
    color: #9C9C9C;

}
/* ------------ */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;

}
/* --------------- */
/* --------------- */
[ class*="__container"] {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0px 15px;
}
.page {
    flex: 1 1 auto;
}
.button {
 display: inline-block;
 text-align: center;
 padding: 16px 30px; 
background-color: #3D96F4;
border-radius: 50px;
color: #fff;
letter-spacing: 2px;
font-size: 14px;
font-weight: 500;
transition: background-color 0.3s ease 0s;
line-height: 1.43;

}
.button:hover {
    background-color: #68a8eb;
}

 /*---------- Header-------- */
.header {
}
.header__container {
    display: flex;
    align-items: center;
    min-height: 116px;
    padding-top: 5px;
    padding-bottom: 5px;
     column-gap: 35px;
}
.header__menu {
    flex: 1 1 auto;
}
.menu {
}
.menu__icon {
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 3px;
    justify-content: flex-end;

    
}
.menu__item {
}
.menu__link {
color: #fff;
font-size: 16px;
line-height: 1.62;
}
.menu__link:hover {
    text-decoration: underline;
}
.header__cart {
}
.cart-header {
color: #fff;
display: flex;
align-items: center;
gap: 5px;

}
.cart-header:hover .cart-header__text {
    text-decoration: underline;
}
.cart-header__text {
font-size: 18px;
line-height: 1.55;
}
.cart-header_quantity {
background: rgba(129, 129, 139, 0.3);
width: 30px;
height: 30px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
font-weight: 500;
font-size: 14px;
}
.header__button {
    flex: 0 0 auto;
}
.icon-menu {
    display: none;
}

.page {
}
.footer {
}